.bg-3
{
    background-color: antiquewhite;
}
body
{
    background-color: whitesmoke; 
    background-image: url("./img/EagleProject/AmericanFlag.png") !important;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

p
{
    text-align: center;
    padding: 10px;
}