#projectCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
  margin: 10px;
}

/* On mouse-over, add a deeper shadow */
#projectCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

/* Add some padding inside the card container */
#container {
  padding: 2px 16px;
}
#frame {
  height: 100%;
}

img {
  max-width: 100%;
  max-height: auto;;
}

#wrap {
  width: 600px;
  height: 390px;
  padding: 0;
  overflow: hidden;
}

#frame {
  width: 800px;
  height: 520px;
  border: 1px solid black;
}

#frame {
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
}

#content 
{
  width: auto;
  display: flex; 
  align-items: stretch;
  justify-content: space-around;
}

#header {
  cursor: pointer;
}