.projectCard {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  cursor: pointer;
  margin: 10px;
  max-height: 500px;
  /* background-color: whitesmoke; */
  max-width: 33%;
  text-align: center;
  border-radius: 2%;
}

.projectCard img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 100%;
}
.projectCard:hover {
  box-shadow: 16px 16px 32px 16px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.05);
}
.projectCard:hover .description {
  visibility: visible;
}
.projectCard h1 
{
  /* color: grey; */
  font-size: min(3vw,32px);
}
/* .projectCard p
{
  float: right;
} */

.cSharp
{
  border-style: solid;
  border-color: green;

}

.cplusplus
{
  border-style: solid;
  border-color: pink;

}

.python
{
  border-style: solid;
  border-color: darkcyan;

}

.java
{
  border-style: solid;
  border-color: orange;

}

.javascript
{
  border-style: solid;
  border-color: gold;
}

.php
{
  border-style: solid;
  border-color: purple;
}

.languagecsharp
{
  float: left;
  color: green;
  position: absolute;
  bottom: 0;
  font-size: min(2vw,16px);
}
.languagejava
{
  float: left;
  color: orange;
  position: absolute;
  bottom: 0;
  font-size: min(2vw,16px);
}
.languagepython
{
  float: left;
  color: darkcyan;
  position: absolute;
  bottom: 0;
  font-size: min(2vw,16px);
}
.languagecplusplus
{
  float: left;
  color: pink;
  position: absolute;
  bottom: 0;
  font-size: min(2vw,16px);
}
.languagejavascript
{
  float: left;
  color: gold;
  position: absolute;
  bottom: 0;
  font-size: min(2vw,16px);
}
.languagephp
{
  float: left;
  color: purple;
  position: absolute;
  bottom: 0;
  font-size: min(2vw,16px);
}

.description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(77, 83, 86, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.5s, visibility 0.5s;
}

/*h1
{
  color: aqua;
}*/

.inactive {
  opacity: 0.2;
  cursor: not-allowed !important;
}

.content {
  width: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 2px 16px;
}

img {
  /*max-width: 100%;*/
  max-width: 80%;
  height: auto;
  max-height: 80%;
}

.header {
  cursor: pointer;
}
