#prototypes {
  min-width: 50%;
  min-height: 500%;
}

#released {
  min-width: 50%;
  min-height: 500%;
}

#frame {
  height: 100%;
}

#WhisWitch {
  background: #CBC3E3 url("/img/WW.png");
  color: white;
}

#Riff {
  background: pink url("/img/Riff.png");
  color: white;
}

#sandf {
  background: orange url("/img/SandF.png");
}

#wrap {
  width: 600px;
  height: 390px;
  padding: 0;
  overflow: hidden;
}

#frame {
  width: 800px;
  height: 520px;
  border: 1px solid black;
}

#frame {
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
}

#geology
{
  background: orangered url("/img/DelicateArch.jpg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#content
{
  display: none;
  cursor:pointer;
}
#content2
{
  display: none;
  cursor:pointer;
}
#header
{
  cursor:pointer;
}