 body {
   font: 400 15px/1.8 Lato, sans-serif;
   color: #4b4747;
 }

 .container-fluid {
   margin-left: auto;
   margin-right: auto;
   padding: 0px;
 }

 h3,
 h4 {
   margin: 10px 0 30px 0;
   letter-spacing: 10px;
   font-size: 20px;
   color: #111;
 }

 h1.learning-outcomes {
   text-align: center;
   border-bottom: 1px solid black;
 }

 .video-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
 }

 .video-container iframe,
 .video-container object,
 .video-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }

 .about-me {
   width: 50%;
   float: left;
   clear: left;
   color: black;
   background-color: #A4A4A4;
   border-radius: 100px 0px 0px 0px;
   border-right: 1px solid black;
 }

 .long-term {
   width: 50%;
   float: right;
   clear: right;
 }

 .short-term {
   width: 50%;
   float: Left;
   clear: left;
 }

 .hobbies {
   width: 50%;
   float: right;
   clear: right;
   color: black;
   background-color: #A4A4A4;
   border-radius: 0px 100px 0px 0px;
   border-left: 1px solid black;
 }

 .container {
   padding: 80px 120px;
 }

 .bg-1 {
   background: #2d2d30;
   color: #bdbdbd;
 }

 .bg-1,
 .bg-2,
 .bg3 h3 {
   color: #fff;
 }

 .bg-1,
 .bg-2,
 .bg-3 blockquote {
   font-style: italic;
 }

 .bg-2 {
   background: #E4E5E6;
   color: #050505;
 }

 .btn {
   padding: 10px 20px;
   background-color: #333;
   color: #f1f1f1;
   border-radius: 0;
   transition: .2s;
 }

 .btn:hover,
 .quotebtn:hover,
 .btn:focus,
 .quotebtn:focus {
   border: 1px solid #333;
   background-color: #fff;
   color: #000;
 }

 .courseworkSLCC {
   float: left;
   clear: left;
   width: 50%;
 }

 .courseworkUU {
   float: right;
   clear: right;
   width: 50%;
 }

 .quotebtn {
   color: #050505;
 }

 .nav-tabs li a {
   color: #777;
 }

 .navbar {
   font-family: Montserrat, sans-serif;
   margin-bottom: 0;
   background-color: #2d2d30;
   border: 0;
   font-size: 11px !important;
   letter-spacing: 4px;
   opacity: 0.9;
   width: 100%;
 }

 .navbar li a,
 .navbar .navbar-brand {
   color: #d5d5d5 !important;
 }

 .navbar-nav li a:hover {
   color: #fff !important;
 }

 /* Change the color of links on hover */
 .navbar-nav li.active a {
   background-color: #fff !important;
   color: #29292c !important;
 }

 .navbar-default .navbar-toggle {
   border-color: transparent;
 }

 .open .dropdown-toggle {
   color: #fff;
   background-color: #555 !important;
 }

 .dropdown-menu li a {
   color: #000 !important;
 }

 .dropdown-menu li a:hover {
   background-color: red !important;
 }

 footer {
   background-color: #2d2d30;
   color: #f5f5f5;
   padding: 32px;
   min-width: auto;
   max-width: 100%;
   position:relative;
   bottom:0;
   left:0;
   right:0;
   height:2.5rem;
 }
 .page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


 footer a {
   color: #f5f5f5;
 }

 footer a:hover {
   color: #777;
   text-decoration: none;
 }

 .format-img {
   margin-bottom: 20px;
   width: 100%;
   height: auto;
 }

 .headerimg {
   width: 20%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }