body{
    text-align: center;
    background-color:darkcyan;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.meetteam a:hover{
      color: black;
      cursor: grab;
}
.meetteam {
      cursor: grab;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #38a395;
  color: white;
}
#navigation {
    width: 100px;
    background-color: black;
    padding: 20px 20px 0 20px;
    position: fixed;
    height: 100%;
    left: -130px;
    z-index: 100;
}
#navigation img {
    margin-bottom: 20px;
    border: 1px solid rgb(0,0,0);
    width: 60%;
    height: auto;
}
#navigation h3{
    margin: 0px;
    margin-bottom: 50px;
}
div{
    text-align: center;
    background: inherit;
    left: 30px;
}
div.games{
   background-color: grey;
}
div.About{
    background-color: darkcyan;
}
div.row1{
    display: inline-block;
    margin-right: 2.5%;
    max-width: 100%;
    width:100%;
    height: auto;
}
div.row2{
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    max-width: 100%;
        width:100%;
    height: auto;
}
div.row3{
    display: inline-block;
    margin-left: 2.5%;
    max-width: 100%;
    width:100%;
    height: auto;
}
#gamecontainer{
text-align: center; 
display: flex;
justify-content: center;
}
div.display{
    display: flex;
    justify-content: center;
    background-color: #38a395;
}
div.team{
    background-color: darkcyan;
    max-width: 100%;
    height: auto;
}
div.content{
    text-align:center;
    display: inline-block;
}
.socialmedia{
    display: flex;
    justify-content: center;
    left: 50%;
    right: 50%;
    bottom:0px;
}
.twtr, .fb, .twitch{
    display: flex;
    justify-content: center;
    height: 50%;
    width: auto;
}
div.close, div.open{
    height: 5%;
    width: auto;
    max-height: 5%;
    display: inline-block;
}
.teamtoggle .display{
    max-height: 100%;
    width: auto;
    height: auto;
}
p{
    text-align: center;
    left: 30px;
}
img.Runewerksimg{
    max-width: 200%;
    width: auto;
    height: auto;
    cursor: grab;
}
img.close, img.open{
    height: 5%;
    width: auto;
    max-height: 5%;
    max-width: auto;
}
img{
    max-width: 50%;
    height: 20%;
    width: auto;
    border-radius: 50%;
}
.teamimg{
    height: auto;
    width: 50%;
    max-width:50%;
}
h3{
    margin: 5%;
}
p.quote{
      font-style: italic;
}
.gameimg{
    border-radius: 0%;
    max-width: 50%;
   height: auto;
}
